/cache
__pycache__
/rust_crawl/target
/rust_crawl/cache
/rust_crawl/target.lock
/Pipfile.lock
/mlruns
/.vscode
/.idea
/scripts
/data
/.pytest_cache
/url_classifier/url_classifier.egg-info
/url_classifier.egg-info
/pyproject.toml