[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
textblob = "*"
polyglot = "*"
pyicu = "*"
pycld2 = "*"
beautifulsoup4 = "*"
joblib = "*"
orjson = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
