[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "2.5.1"
textblob = "0.17.1"
polyglot = "16.7.4"
beautifulsoup4 = "4.10.0"
joblib = "1.10.0"
orjson = "3.6.4"
tqdm = "4.62.3"
pandas = "1.3.4"
pytest = "6.2.5"
matplotlib = "3.5.0"
mlflow = "1.21.0"
xgboost = "1.5.1"
plotly = "5.4.0"
scikit-learn = "1.0.1"

[dev-packages]

[requires]
python_version = "3.9.7"
