[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
textblob = "*"
polyglot = "*"
beautifulsoup4 = "*"
joblib = "*"
orjson = "*"
tqdm = "*"
pandas = "*"
pytest = "*"
scikit-learn = "*"
"ray[tune]" = "*"

[dev-packages]

[requires]
python_version = "3.9"
